*{
  margin: 0;
  padding: 0;
}

/* Cabecalho */

#cabecalho{
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: #303030;
  justify-content: space-between;
}

#cabecalho div{
  margin-left: 50px;
}

#cabecalho div a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#cabecalho div a:hover{
  color: #ec0062;
}

#cabecalho nav ul{
  display: flex;
  list-style: none;
  gap: 15px;
  margin-right: 50px;
  font-size: 18px;
}

#cabecalho nav ul li a{
  text-decoration: none;
  color: white;
}

#cabecalho nav ul li a:hover{
  color: #ec0062;
}